<section class="profile">
    <div class="container">
        <h1 class="text-center">My Profile</h1>
        <img src="assets/Cherry.jpg" width="20%" height="20%">
		<div class="border"></div>


        
        <p class="talent">
	
            Hello Good Day! My name is Cherry G. Cuna, from Brgy. Villaconzollo Jaro, Leyte. My birtdate is Augost 08 1999 and I am 22 yrs old.
            I' am currently studying at Eastern Visayas State University - Carigara Campus, with a degree of Bachelor of Science in Information Technology, third year.
        </p>
    </div>
    </section>
